.VideoPlayer {
  position: relative; 
  width:720px;
}

video {
  z-index:-1;
}

.adv {
	border: 1px solid black;
	background: white;
	color: black;
  width: 716px;
  height: 80px;
  position: absolute;
  top:65%;
  left:1px;
  display:none;
  opacity: 0.5;
  z-index: 0;
}
.adv:hover {
	opacity: 1;
	cursor: pointer;
	z-index: 0;
}

.adv--close {
	cursor: pointer;
	float: right;
	z-index: 1200;
	position: absolute;
  right: 1px;
  top: 65%;
}
